@using WorkTeam.Models
@model IEnumerable<Customer_Lector>
@{
    ViewBag.Title = "Index";
}

<br />
<h2>Lector de excel</h2>
<br />
@using (Html.BeginForm("Index", "Lector", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="postedFile" accept=" .xls, .xl, .csv" class="form-control" />
    <br />
    <input type="submit" name="Import" class="btn btn-primary" />

}
@if (Model.Count() > 0)
{

    <hr />
    <center>
        <table cellpadding="0" cellspacing="0" class="table">
            @*<tr>
                    <th>Customer Id</th>
                    <th>Name</th>
                    <th>Country</th>
                </tr>*@

            @foreach (Customer_Lector customer in Model)
            {
                <td>@customer.Id</td>
                <td>@customer.Nombre</td>
                <td>@customer.Pais</td>
                <td>@customer.Id2</td>
                <td>@customer.Nombre2</td>
                <td>@customer.Pais2</td>
                <td>@customer.Id3</td>
                <td>@customer.Nombre3</td>
                <td>@customer.Pais3</td>

                <tr>
                </tr>
            }
        </table>
    </center>
}